<h1>Listing posts</h1>


<% @posts.each do |post| %>

<p><b><%= post.title %></b></p>
<br />
<p><%= post.body %></p>
<br />
<p><em><%= post.author %></em></p>
<%= link_to 'Show', post %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>


<br />

<%= link_to 'New Post', new_post_path %>
