<p id="notice"><%= notice %></p>

<p>

  <h3><%= @post.title %></h3>
</p>

<p>

  <%=h @post.body.html_safe %>
</p>

<p>
  <b>Author:</b>
  <em><%= @post.author %></em>
</p>
<br />
<br />

<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% end %>
<%= link_to 'Back', posts_path %>
